* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.yka-topbar {
  min-height: 60px;
  padding: 10px;
  background-color: #eee;
  /* background-color: red; */
}

.yka-topbar .flex {
  justify-content: space-between;
}

.logo-desktop {
  display: flex;
  align-items: center;
}

.logo-desktop img {
  max-width: 100px;
  height: auto;
  display: block;
}

.logo-desktop .logo-title{
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
}

.yka-topbar .topbar-buttons > ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.yka-topbar .topbar-buttons > ul li a {
  display: block;
  padding: 5px;
  margin: 0 10px;
  text-decoration: none;
}

.yka-topbar .topbar-buttons > ul li a.btn-hindi {
  color: #000;
  padding: 6px 12px;
  font-weight: 800;
  border: 2px solid #d30000;
}

/* SIDEBAR MENU */
.yka-sidebar-collapse{
  position: absolute;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 15px 0;
  height: 100%;
  transform: translateX(-100%);
  transition: all ease 0.25s;
  background: #eeeeee;
}

.open.yka-sidebar-collapse {
  display: block;
  transform: translateX(0);
}

.yka-sidebar-collapse ul.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.yka-sidebar-collapse ul.sidebar-nav > li:not(:last-child) {
  margin-bottom: 10px;
}

.yka-sidebar-collapse ul.sidebar-nav > li > a{
  display: block;
  color: #d30000;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
}

/* PRIMARY MENU */
.primary-menu-wrapper{
  background-color: #181818;
}
.primary-nav{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.primary-nav li{
  display: inline-block;
}

.primary-nav li a{
  display: block;
  color: transparent;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}

.primary-nav li.home-feed a{
  background-image: url(../images/home-feed.png);
}

.primary-nav li.quick-bytes a{
  background-image: url(../images/quick-bytes.png);
}

.primary-nav li.yka-blogs a{
  background-image: url(../images/yka-blogs.png);
}

.primary-nav li.yka-action-network a{
  background-image: url(../images/yka-action-network.png);
}

.primary-nav li.start-writing a{
  background-image: url(../images/start-writing.png);
}

/* MAIN CONTENT */
#site .main-content{
  margin: 25px 0;
}

/* MEDIA QUERIES */

@media(max-width:768px){

  /* MAIN CONTENT */
  #site .main-content{
    margin-bottom: 60px;
  }

  .logo-desktop .logo-title{ margin-left: 12px; font-size: 18px; }
  .yka-topbar{ padding: 10px 0; }
  .yka-topbar .topbar-buttons > ul li a{
    margin: 0 8px;
  }
  .yka-topbar .topbar-buttons > ul .li-search-item{
    display: none;
  }

  /* PRIMARY NAVBAR */
  .primary-menu-wrapper{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
  }

  .primary-nav{
    display: flex;
    width: 100%;
    height: 52px;
  }

  /* .primary-nav img{
    max-width: 80%;
  } */

  .primary-nav li a{
    height: 52px;
  }

  .primary-nav .start-writing{
    position: relative;
  }

  .primary-nav .start-writing a{
    position: absolute;
    width: 120px;
    top: -40px;
    left: -40px;
  }

}
